@use '../Layout/Layout.scss' as layout;

.catalog {
  position: relative;

  &__body {
    padding: 60px 0 234px;

    @include layout.breakpoint(sm) {
      padding: 40px 0 110px;
    }
  }

  &__title {
    margin: 0 auto;
    max-width: 330px;

    @include layout.breakpoint(lg) {
      max-width: 285px;
    }

    @include layout.breakpoint(md) {
      max-width: 240px;
    }

    @include layout.breakpoint(sm) {
      color: black;
      max-width: 220px;
    }

    @include layout.breakpoint(xs) {
      max-width: 167px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    margin-top: 50px;

    @include layout.breakpoint(xs) {
      margin-top: 30px;
    }
  }

  &__item {
    flex: 0 1 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    @include layout.breakpoint(sm) {
      flex: 0 1 100%;
    }
  }

  &__text {
    text-align: center;
    font-size: 28px;

    @include layout.breakpoint(lg) {
      font-size: 22px;
    }
  }

  //   &__background {
  //   top: -55px !important;

  //       @include layout.breakpoint(sm) {
  //   top: 00px !important;
  //   }
  // }
}
