@use '../Layout/Layout.scss' as layout;

.backgroundWrapper {
  position: relative;
  overflow: hidden;

  &__bg {
    @include layout.breakpoint(sm) {
      display: none;
    }
  }

  &__bg-mobile {
    display: none;

    @include layout.breakpoint(sm) {
      display: block;
      object-position: bottom;
    }
  }

  &__dark-overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }
}
