@use '../Layout/Layout.scss' as layout;
@use '../Layout/Layout.scss' as style;

.advantages {
  &__body {
    padding-bottom: 130px;

    @include layout.breakpoint(lg) {
      padding-bottom: 70px;
    }
  }

  &__title {
    text-align: center;
    max-width: 690px;
    margin: 0 auto;

    @include layout.breakpoint(sm) {
      max-width: 440px;
    }

    @include layout.breakpoint(xs) {
      max-width: 265px;
    }
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-rows: 193px 193px 306px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 20px;
    margin-top: 40px;

    @include layout.breakpoint(lg) {
      grid-template-rows: 170px 170px 270px;
      gap: 15px;
    }

    @include layout.breakpoint(md) {
      grid-template-rows: 170px 170px 240px;
      gap: 10px;
    }

    @include layout.breakpoint(sm) {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    @include layout.breakpoint(xs) {
      margin-top: 30px;
    }
  }

  &__item_card1 {
    grid-area: 1/1/3/2;
    background: url('../../assets/images/advantages_card1.png') 20% 95%/ 95% no-repeat,
      url('../../assets/images/advantages_card1_add.png') 80% 80%/60% no-repeat, style.$yellow-orange-gradient;

    @include layout.breakpoint(sm) {
      background: url('../../assets/images/advantages_card1.png') 20% 95%/ 50% no-repeat,
        url('../../assets/images/advantages_card1_add.png') 40% 80%/30% no-repeat, style.$yellow-orange-gradient;
    }

    @include layout.breakpoint(xs) {
      background: url('../../assets/images/advantages_card1.png') 20% 95%/63% no-repeat,
        url('../../assets/images/advantages_card1_add.png') 40% 80%/35% no-repeat, style.$yellow-orange-gradient;
    }
  }

  &__item_card2 {
    grid-area: 1/2/2/4;
    background: url('../../assets/images/advantages_card2.png') 100% 100%/80% no-repeat, style.$grey-gradient;

    @include layout.breakpoint(sm) {
      height: 220px;
    }
  }

  &__item_card3 {
    grid-area: 2/2/3/4;
    background: url('../../assets/images/advantages_card3.png') 110% 100%/68% no-repeat,
      linear-gradient(to right top, #dcdcdc, #f3f3f3);

    @include layout.breakpoint(sm) {
      height: 190px;
      background: url('../../assets/images/advantages_card3.png') 90% 100%/60% no-repeat,
        linear-gradient(to right top, #dcdcdc, #f3f3f3);
    }
  }

  &__item_card4 {
    grid-area: 1/4/3/5;
    display: flex;
    align-items: end;
    background: url('../../assets/images/advantages_card4.png') 0 0/100% no-repeat, style.$yellow-orange-gradient;

    @include layout.breakpoint(sm) {
      background: url('../../assets/images/advantages_card4.png') 100% 35%/68% no-repeat, style.$yellow-orange-gradient;
    }
  }

  &__item_card5 {
    grid-area: 3/1/4/3;
    background: url('../../assets/images/advantages_card5.png') 100% 100%/90% no-repeat, style.$grey-gradient;
  }

  &__item_card6 {
    grid-area: 3/3/4/5;
    background: url('../../assets/images/advantages_card6.png') 100% 100%/90% no-repeat, style.$grey-gradient;

    @include layout.breakpoint(sm) {
      background-size: 100%;
    }
  }

  &__item_card1,
  &__item_card4,
  &__item_card5,
  &__item_card6 {
    @include layout.breakpoint(sm) {
      height: 306px;
    }
  }

  &__item {
    border-radius: 20px;
    padding: 32px 38px;

    @include layout.breakpoint(md) {
      padding: 30px 15px;
    }
  }

  &__content-title {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__subtitle {
    font-size: 16px;
  }
}
