@use '../Layout/Layout.scss' as layout;

.messengers {
  display: flex;
  align-items: center;

  &__text {
    font-size: 12px;
    font-weight: 700;
    padding-left: 5px;

    @include layout.breakpoint(md) {
      margin-left: -11px;
    }
  }

  &__icons {
    display: flex;
  }
}
