@use '../Layout/Layout.scss' as layout;

.header {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 50px;

    @include layout.breakpoint(sm) {
      margin: 16px 0 38px;
    }
  }

  &__burger-menu {
    display: none;

    @include layout.breakpoint(md) {
      display: block;
    }
  }

  &__logo .logo__favicon {
    @include layout.breakpoint(lg) {
      max-width: 70px;
    }

    @include layout.breakpoint(md) {
      max-width: 82px;
    }
  }

  &__logo .logo__title {
    font-size: 28px;

    @include layout.breakpoint(lg) {
      font-size: 20px;
    }

    @include layout.breakpoint(md) {
      font-size: 26px;
    }
  }

  &__navbar {
    @include layout.breakpoint(md) {
      display: none;
    }
  }

  &__navbar {
    .navbar__list > :not(:last-child) {
      margin-right: 30px;

      @include layout.breakpoint(lg) {
        margin-right: 22px;
      }
    }
  }

  .navbar__item {
    font-size: 14px;

    @include layout.breakpoint(lg) {
      font-size: 12px;
    }

    @include layout.breakpoint(md) {
      font-size: 16px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    @include layout.breakpoint(md) {
      display: none;
    }
  }

  &__messengers {
    .messengers {
      justify-content: space-between;
      gap: 13px;
    }

    .messengers__icons {
      gap: 7px;
    }

    .messengers__icon {
      @include layout.breakpoint(lg) {
        max-width: 24px;
      }
    }
  }

  &__phone {
    .phone {
      gap: 13px;
    }

    .phone__icon {
      @include layout.breakpoint(lg) {
        max-width: 24px;
      }
    }
  }
}
