@use '../../components/Layout/Layout.scss' as layout;

.header {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 50px;

    @include layout.breakpoint(sm) {
      margin: 16px 0 38px;
    }
  }

  &__burger-menu {
    display: none;

    @include layout.breakpoint(md) {
      display: block;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 18px;

  @include layout.breakpoint(xs) {
    gap: 15px;
  }

  &__favicon {
    @include layout.breakpoint(lg) {
      max-width: 70px;
    }

    @include layout.breakpoint(md) {
      max-width: 82px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #ffffff, #b0b0b0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    @include layout.breakpoint(lg) {
      font-size: 20px;
    }

    @include layout.breakpoint(md) {
      font-size: 26px;
    }
  }
}

.navbar {
  @include layout.breakpoint(md) {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list > :not(:last-child) {
    margin-right: 30px;

    @include layout.breakpoint(lg) {
      margin-right: 22px;
    }
  }

  &__item {
    text-transform: uppercase;
    font-size: 14px;

    @include layout.breakpoint(lg) {
      font-size: 12px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 7px;

  @include layout.breakpoint(md) {
    display: none;
  }

  &__messangers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
  }

  &__text {
    font-size: 12px;
    font-weight: 700;
    padding-left: 5px;
  }

  &__text::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #00b25c;
    border-radius: 50%;
    margin-right: 12px;
    vertical-align: middle;
  }

  &__icons {
    display: flex;
    gap: 7px;
  }

  &__icon {
    @include layout.breakpoint(lg) {
      max-width: 24px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__phone-icon {
    @include layout.breakpoint(lg) {
      max-width: 24px;
    }
  }

  &__phone-number {
    font-weight: 700;
  }
}
